<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @service.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @service.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<div class= "field">
<%= image_tag @service.cover.url(:mini)%>	
</div>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Volver', services_path %>
