<p id="notice"><%= notice %></p>

<h1>Listando Empleados</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.rut %></td>
        <td><%= employee.nombre %></td>
        <td><%= employee.telefono %></td>
        <td><%= employee.direccion %></td>
        <td><%= employee.email %></td>
        <td><%= link_to 'Mostrar', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Está Seguro/a?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
