<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reservation.fecha %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @reservation.disponibilidad %>
</p>

<%= link_to 'Editar', edit_reservation_path(@reservation) %> |
<%= link_to 'Volver', reservations_path %>
