<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<div class= "field">
<%= image_tag @product.cover.url(:mini)%>
	
</div>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
