<p id="notice"><%= notice %></p>

<p>
  <strong>Gasto:</strong>
  <%= @detail.gasto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @detail.descripcion %>
</p>

<%= link_to 'Editar', edit_detail_path(@detail) %> |
<%= link_to 'Volver', details_path %>
